- name: create workspace directory
  file: path="{{ item }}" mode=0777 owner=vagrant group=vagrant state=directory
  with_items:
    - /workspace/
    - /workspace/log4ever/
    - /workspace/rumble-crawler/
    - /workspace/rumble-server/
    - /workspace/rumble-notify/
  become: yes
- name: setup gems
  bundler: gemfile="{{ item }}" executable=/usr/local/rbenv/shims/bundle
  with_items:
    - /workspace/log4ever/Gemfile
    - /workspace/rumble-server/Gemfile
    - /workspace/rumble-crawler/Gemfile
    - /workspace/rumble-notify/Gemfile
