- name: set yum repository
  yum: name={{ item }}
  with_items:
    - http://rpms.famillecollet.com/enterprise/remi-release-7.rpm
- name: install php
  yum: pkg={{ item }} state=latest enablerepo=remi,remi-php70
  with_items:
    - php
    - php-devel
    - php-mbstring
    - php-mysql
    - php-pgsql
    - php-pdo
    - php-xml
    - php-pecl-xdebug
- name: php.ini settings
  lineinfile: >-
    dest=/etc/php.ini
    regexp="{{ item.regexp }}"
    line="{{ item.line }}"
    state=present
  with_items:
    - { regexp: '^;date.timezone', line: 'date.timezone = Asia/Tokyo' }
    - { regexp: '^display_errors.*', line: 'display_errors = On'}
- name: install composer
  shell: /usr/bin/curl -s http://getcomposer.org/installer | php && mv -f composer.phar /usr/bin/composer
