- name: create workspace directory
  file: path="{{ item }}" mode=0777 owner=vagrant group=vagrant state=directory
  with_items:
    - /workspace/
    - /workspace/log4ever/
    - /workspace/rumble-crawler/
    - /workspace/rumble-server/
    - /workspace/rumble-notify/
  become: yes

- import_tasks: elastic-lifelog.yml
