- name: install epel-release
  yum: name=epel-release state=latest
- name: install git
  yum: name=git state=latest
- name: install gcc
  yum: name=gcc state=latest
- name: install gcc-c++
  yum: name=gcc-c++ state=latest
- name: install glibc-devel
  yum: name=glibc-devel state=latest
- name: install gyp
  yum: name=gyp state=latest
- name: install wget
  yum: name=wget state=latest
- name: install unzip
  yum: name=unzip state=latest
- name: install ld-linux.so.2
  yum: name=ld-linux.so.2 state=latest
- name: install openssl-devel
  yum: name=openssl-devel state=latest
- name: install readline-devel
  yum: name=readline-devel state=latest
- name: change timezone
  copy: src=/usr/share/zoneinfo/Japan dest=/etc/localtime
  become: yes
