[mysqld]
character-set-server = utf8
user                 = mysql
port                 = 3306
log_error            = /var/log/mysqld_error.log
slow_query_log_file  = /var/log/mysql_slow_query.log
default-time-zone    = '+9:00'
datadir              = /mnt/docker/mysql
socket               = /var/lib/mysql/mysql.sock

# InnoDB
# innodb_buffer_pool_size = 1024M # 本番
innodb_buffer_pool_size = 256M # 開発

[client]
default-character-set=utf8
port = 3306
user=root
password=
socket=/var/lib/mysql/mysql.sock
