- name: install packages
  yum: name={{ item }} state=latest
  with_items:
    - epel-release
    - git
    - gcc
    - python-devel
    - python-setuptools
    - python-pip
    - libselinux-python
    - docker
- name: install ansible
  pip: name=ansible state=latest
- name: restart docker
  service: name=docker state=restarted
- name: change timezone
  copy: src=/usr/share/zoneinfo/Japan dest=/etc/localtime
  sudo: yes
