- name: install packages
  yum: name={{ item }} state=latest
  with_items:
    - epel-release
    - git
    - gcc
    - python-devel
    - python-setuptools
    - python-pip
    - libselinux-python
    - docker
- name: install ansible
  pip: name=ansible state=latest
- name: restart docker
  service: name=docker state=restarted
- name: force docker container clear
  shell: docker ps -a -q | awk '{if (length($1) > 0) system("sudo docker rm -f " $1)}'
  sudo: yes
