- name: set yum repository
  yum: name={{ item }}
  with_items:
    - http://dev.mysql.com/get/mysql-community-release-el7-5.noarch.rpm
- name: install mysql
  yum: name={{ item }} state=latest
  with_items:
    - epel-release
    - mysql-community-server
    - MySQL-python
- name: copy files
  copy: src={{ item.src }} dest={{ item.dest }}
  with_items:
    - src: 'my.cnf'
      dest: '/etc/'
    - src: 'mysql_user.ini'
      dest: '/home/vagrant/setup/'
    - src: "{{ mysql_sqlfile }}"
      dest: '/home/vagrant/setup/'
- name: copy file with option
  copy: src=my.cnf dest=/root/.my.cnf owner=root mode=0600
- name: add permission /var/log
  shell: /usr/bin/chmod 777 -R /var/log
- name: force restart mysql
  shell: /usr/bin/systemctl restart mysql
- name: add timezone info
  shell: /usr/bin/mysql_tzinfo_to_sql /usr/share/zoneinfo | mysql -u root mysql
- name: create timezone sql file
  shell: /usr/bin/echo 'SET @@SESSION.time_zone = "Asia/Tokyo";' > /home/vagrant/setup/setup-timezone.sql
- name: set JST timezone
  shell: /usr/bin/mysql -u root mysql < /home/vagrant/setup/setup-timezone.sql
- name: create user
  mysql_user: "name={{ mysql_userid }} password={{ mysql_passwd }} host={{ item }} priv={{ db_name }}.*:ALL,GRANT state=present"
  with_items:
    - localhost
    - 192.168.0.%
- name: create database
  mysql_db: "name={{ db_name }} state=present"
- name: initialize table
  shell: "/usr/bin/mysql --defaults-extra-file=/home/vagrant/setup/mysql_user.ini {{ db_name }} < /home/vagrant/setup/{{ mysql_sqlfile }}"
