version: '3.1'
services:
  main:
    build: ./
    volumes:
      - ../backupfiles/jenkins:/tmp/backup
    ports:
      - 8080:8080
      - 50000:50000
    networks:
      - jenkins
    secrets:
      - jenkins_user
      - jenkins_pass
    restart: always

secrets:
  jenkins_user:
    file: ./secrets/jenkins_user
  jenkins_pass:
    file: ./secrets/jenkins_pass

networks:
  jenkins:
    driver: bridge