- name: yum update
  shell: yum -y update
  sudo: yes
- name: install packages
  yum: name={{ item }} state=latest
  with_items:
    - epel-release
    - git
    - gcc
    - wget
    - unzip
    - python-devel
    - python-setuptools
    - python-pip
    - libselinux-python
    - ld-linux.so.2
- name: install ansible
  pip: name=ansible state=latest
- name: change timezone
  copy: src=/usr/share/zoneinfo/Japan dest=/etc/localtime
  sudo: yes
- name: create workspace directory
  file: path="{{ item }}" mode=0777 owner=vagrant group=vagrant state=directory
  with_items:
    - /workspace/
    - /workspace/webstream-framework/
    - /workspace/webstream-framework/Test/
    - /home/vagrant/setup/
  sudo: yes
