- name: yum update
  shell: yum -y update
  sudo: yes
- name: install packages
  yum: name={{ item }} state=latest
  with_items:
    - epel-release
    - git
    - gcc
    - wget
    - unzip
    - python-devel
    - python-setuptools
    - python-pip
    - libselinux-python
    - ld-linux.so.2
- name: install ansible
  pip: name=ansible state=latest
- name: change timezone
  copy: src=/usr/share/zoneinfo/Japan dest=/etc/localtime
  sudo: yes
- name: create workspace directory
  file: path="{{ item }}" mode=0777 owner=vagrant group=vagrant state=directory
  with_items:
    - /home/vagrant/
    - /home/vagrant/workspace/
    - /home/vagrant/test/
    - /home/vagrant/setup/
- name: copy files
  copy: src="{{ item }}" dest=/home/vagrant/test
  with_items:
    - composer.json
    - build.xml
# - name: composer install
#   composer: "command=install prefer_dist=yes working_dir=/home/vagrant/test/"
